# Editor settings for any editor or IDE.
# References at https://editorconfig.org/.

root = true

# Editor settings for every file.
[*]
  charset = utf-8
  end_of_line = lf
  indent_size = 2
  indent_style = space
  insert_final_newline = true
  trim_trailing_whitespace = true

# Editor settings for TypeScript and JavaScript files.
[*.{ts,js}]
  indent_style = tab
